@charset "utf-8";
body  {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	background: #E7E7E7 url(../images/body_bg.gif) repeat-x scroll left top;
	margin: 0 auto;
	padding: 0;
	color: #444444;
}

.gridLayout #container { 
	width: 990px;
	margin: 0 auto;
	text-align: left;
	background: transparent url(../images/content_bg.png) repeat-x scroll left top;
} 

.contentWrapper {
	margin: 3px auto;
	background: #fff;
	width: 980px;
}
#content {
	margin-left: 20px;
}

/*---------- Corporate Colours --------*/
.red {
	color: #ad171c;
}
a.red:hover { text-decoration: none; color: #666;}
.midgreen {
	color: #cfd1c3;
}
.lightgreen {
	color: #dcded0;
}
.tan {
	color: #b5a66b;
}
.lightTan {
	color: #E1DBC4;
}
.parchment {
	background-color: #f5f6f1;
}
.bold {
	font-weight: bold;
}
/*----------- Header ----------*/
#header { 
	margin: 0 auto;
	height: 80px;
	width: 990px;
	text-align: left;
	float:left;
} 
div.topBanner {
    background: url(../images/top_banner_gradient.gif);
    background-repeat: repeat-x;
    height: 100px;
	width: 980px;
    text-align: center;
	margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 10px;
}
#header .logo { 
	margin-top:2px;
	margin-bottom: 2px;
	margin-left: 15px;
	margin-top: 5px;
	width:250px;
	height: 63px;
	background-image:url(../images/charter_logo.jpg);
	background-repeat:  no-repeat;
	float:left;
} 
.logo h1 {
	text-indent:-9999px;
	margin: 0; 
	padding: 10px 0; 
	float:left;
}
.logo h1 a {
	text-decoration: none;
	color: #000000;
	display:block;
	height:63px;
	width:250px;
	float:left;
}
.headerTitle { 
	margin: 20px 0px 0px 0px;
	font-size: 2em;
	float:left;
	width: 300px;
	color: #566423;
	font-family:Arial, Helvetica, sans-serif;
}
#header .headerMenu { 
	margin: 10px 10px 0px 10px;
	font-size: 1em;
	float:right;
}
.headerMenu ul{
	margin:0px;
	padding:0;
	float:left;
	list-style-type:none;
}
.headerMenu ul li{
	display:inline;
	font-size:0.85em;
	white-space:nowrap;
	margin: 0px auto;
	padding:0px 20px 0px 0px;
}
.headerMenu ul li a{
	color: #666;
	text-decoration: underline;
}
.headerMenu ul li a:hover {
	color: #666;
	text-decoration:none;
	background: transparent;
}
.masthead {
	float:left;
	width: 950px;
	height: 150px;
	padding: 0;
	margin:0;
	margin-left: 15px;
	background: #CCCCCC url(../images/masthead.jpg) no-repeat;
	border-top: 1px solid white;
}
.masthead2{
	float:left;
	width: 950px;
	height: 150px;
	padding: 0;
	margin:0;
	margin-left: 15px;
	background: #CCCCCC url(../images/masthead2.jpg) no-repeat;
	border-top: 1px solid white;
}
/*----------- Global Navigation ----------*/
.gridLayout #globalNavigation {
	float: left;
	background-image:url(../images/bg_usermast.gif);
	background-repeat:no-repeat;
	background-position:center;
	width: 960px;
	height: 29px;
	margin-left: 10px;
}
.gridLayout #globalNavigation ul {
	list-style-type:none;
	margin:0pt;
	padding:0pt 0pt 0pt 10px;
}
.gridLayout #globalNavigation ul li {
	display: inline;
	font-size: 0.85em;
}

.gridLayout #globalNavigation ul li a {
	color:#FFF;
	float:left;
	font-weight:normal;
	margin-top: 3px;
	padding:3px 14px 3px 14px;
	text-decoration:none;
}
.gridLayout #globalNavigation ul li a:visited {
	color:#FFF;
	float:left;
	font-weight:normal;
	margin-top: 1px;
	padding:6px 14px 5px 14px;
	text-decoration:none;
}
.gridLayout #globalNavigation ul li a:hover {
	background-color:#f0cc8e;
	color:#ad171c;
	float:left;
	font-weight:normal;
	margin-top: 3px;
	padding:3px 14px 3px 14px;
	text-decoration:none;
}


/*-------------------Side Bar 1 --------------------------*/
#sidebar1 {
	float: left; 
	width: 220px;
	margin: 0px 0px 25px 15px;
	background: transparent;
	font-size: 0.85em;
}
.sidebarHead{
	margin-top: 5px;
	margin-bottom: 2px;
	padding: 7px;
	font-weight: bold;
	color: #ad171c;
	border-bottom: 1px solid #ccc;
	}
.sidebarContent {
	padding: 10px;
}

/*-------------------Side Bar 2 --------------------------*/
#sidebar2 {
	float: right; 
	width: 220px;
	margin: 0px 15px 25px 0px;
	background: transparent;
	font-size: 0.85em;
}
.sideMarketing {
	text-align: center;
}
/*-------------------Side Bar NAV --------------------------*/
.interiorNav {
	margin-top: 0px;
	padding-left: 7px;
	padding-bottom: 20px;
	padding-right: 0px;
	background:#FFFFFF none repeat scroll 0 0;
}
.interiorNav ul{
	margin-top: 0px;
	margin-bottom: 2px;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	margin-left: 0px;
	padding: 0px;
}
.interiorNav ul li{
}
.interiorNav ul li a{
	color: #000;
	text-decoration: none;
	border-bottom:1px solid #ccc;
	display:block;
	padding:8px 0 8px 8px;
}
.interiorNav ul li a:hover{
	background-color: #efefef;
}
.navHead{
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 7px;
	font-weight: bold;
	color: #ad171c;
	border-bottom: 1px solid #ccc;
	}
/*------------------- Main Content --------------------------*/
#mainContent {
	float: left; 
	width: 490px;
	min-height: 250px;
	margin: 10px 0px 25px 0px;
	background: transparent;
	font-size: 0.95em;
}
#mainContent .content {
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}
#mainContent2 {
	float: left; 
	clear: none;
	width: 725px;
	min-height: 250px;
	margin: 10px 0px 25px 0px;
	background: transparent;
	font-size: 0.95em;
}
#mainContent2 .content {
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.content h1 {
	font-size:1.8em;
	margin-bottom:5px;
}
.content {
	margin-left: 20px;
}


h1, h2 {
	color:#525252;
}
.content h2 {
	font-size:1.1em;
	margin-bottom:5px;
}
h1, h2, h3, p {
	margin:0 0 10px;
	padding:0;
}

.loginbox {
	border:1px solid #ddd;
	margin-bottom:15px;
	float: left; 
	width: 390px;

}
.loginboxliner {
	background:#F7F7F7 none repeat scroll 0 0;
	border:1px solid #FFFFFF;
	padding:10px;
	float: left; 
	width: 368px;

}
.loginboxclearfix {
	display:block;
	min-height:1px;
}
.loginboxliner label {
	display:block;
	font-weight:bold;
}
.margined {
	margin-top:10px;
}
.loginboxliner input[text] {
	width: 200px;
}
.signIn input, .signIn label {
	display:inline;
	font-weight:normal;
	margin:0;
	width:auto;
}
.signIn {
	margin-top: 0px;
	margin-bottom:10px;
	padding: 0px;
}

.signinbutton a {
color:#000000;
text-decoration:none;
}

.signinbutton a:hover {
color:#000000;
text-decoration:underline;
}
.signinbutton {
	margin-top:0px;
	background:#FFEDB5 url(../images/button.gif) repeat-x scroll left top;
	border:1px solid #666;
	color:#333333;
	display:block;
	float:left;
	font-weight:bold;
	padding:3px 8px 4px;
	white-space:nowrap;
}
/*----------------Footer ------------------*/
#footer { 
	clear: both;
	height:100px;
	width: 99%;
	/*margin: 3px auto;
	padding-top: 5px;*/
	border-top: 3px solid #ad171b;
	background-color: #FFF;
} 
.footerMenu {
	float:left;
	color : #666;
}
.footerMenu ul{
	margin:10px;
	padding:0;
	float:left;
	list-style-type:none;
}
.footerMenu ul li{
	display:inline;
	font-size:0.85em;
	white-space:nowrap;
	padding:0px 20px 0px 0px;
}
.footerMenu ul li a{
	color: #666;
	text-decoration: underline;
}
.footerMenu ul li a:hover {
	color: #ad171c;
	text-decoration:none;
}

/* MiSC */

.pricingTable {
	width: 200px;
}
.pricingTable td {
	background: #F7F7F7;
}
.imgBox {
	border: 1px solid #ccc; 
	width: 102px;
	float: left;
}
.imgBox img {
	border: 3px solid #fff; 
}

/* --------------- Image Zoom ----------------*/
.zoom{ 
	padding: 5px;
	background-color: #FFF;
	border: 1px dashed gray;
	color: black;
	text-decoration: none;
}
.profileContainer {
	border-bottom: 1px dashed #EEE;
	float: left;
	width: 470px;
	margin-bottom: 10px;
}
.headshot {
	width: 120px;
	clear:none;
	float: left;
}
.bio {
	clear:none;
	float: right;
	width: 350px;
}
/*---------------Document table------------*/
.documentNav {
	float: left;
	width: 700px;
	padding:0px;
	border-bottom: 1px solid #ED2E38;
}
.documentNav ul{
	margin:0;
	padding:0;
	float:left;
	list-style-type:none;
}
.documentNav ul li{
	display:inline;
	white-space:nowrap;
}
.documentNav ul li a{
	float:left;
	color : #333;
	text-decoration: none;
	border-right: 1px solid #fff;
	padding: 5px 10px 5px 10px;
}
.documentNav ul li a:hover{
	background: #ccc;
}
.documentNav ul li a.selected{
	color : #fff;
	background: #ED2E38;
}
.downloadTable {
	margin-top: 10px;
	width: 700px;
} 
table.downloadTable tr th.alternateTR, table.downloadTable tr.alternateTR th, table.downloadTable tr.alternateTR {
	background:#EEE;
}
table.downloadTable tr th.redborder {border-bottom:1px solid #ED2E38;}
table.downloadTable tr td a {color:#ED2E38; text-decoration:underline;}
table.downloadTable tr td a:hover {color:#666; text-decoration:none;}
.clearfloat {clear: both;}

.smalldownloadTable {
	margin-top: 10px;
	width: 475px;
} 
table.smalldownloadTable tr th.alternateTR, table.smalldownloadTable tr.alternateTR th, table.smalldownloadTable tr.alternateTR {
	background:#EEE;
}
table.smalldownloadTable tr th.redborder {border-bottom:1px solid #ED2E38;}
table.smalldownloadTable tr td a {color:#ED2E38; text-decoration:underline;}
table.smalldownloadTable tr td a:hover {color:#666; text-decoration:none;}

/* PARTNERS */
.partnersListBox {margin-bottom:0px;}
.partnersListBox_top {background:url(../images/partnersListBox_top.png) no-repeat;width:690px;height:6px;font-size:0px;}
.partnersListBox_bg {background:url(../images/partnersListBox_bg.png) repeat-y;padding-top:15px;clear:both;width:690px;}
.partnersListBox_logo {width:120px;height:75px;margin-right:20px;margin-left:20px;float: left; width:120px; height:75px;text-align:center;}
.partnersListBox_content {width:508px;float:left;}
.partnersListBox_title {font-weight:bold;font-family: arial; font-size: 16px; line-height:16px; margin-bottom:10px;color: #47342E;text-transform:uppercase;}
.partnersListBox_address {margin-bottom:10px;font-family: arial; font-size: 12px; line-height:14px;color: #555555;}
.partnersListBox_links {
	/*margin-bottom:15px;*/
	margin-top:15px;
	/*height:26px;*/
	}
.partnersListBox_clear {clear:both;height:0;width:0;line-height:0px;font-size:0px;}
.partnersListBox_bottom {background-image: url(../images/promobar_not_available.png);background-repeat: no-repeat; height: 30px; text-align: center; vertical-align: middle; width: 690px;}


